* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "lato";
  src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
  font-family: latoBold;
  src: url(../assets/fonts/Lato/Lato-Bold.ttf);
}

@font-face {
  font-family: oswald;
  src: url(../assets/fonts/Oswald/static/Oswald-SemiBold.ttf);
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  margin: 0 5%;
}

.logotipo-header {
  max-width: 255px;
  max-height: 25px;
  cursor: pointer;
}

.navbar-header {
  display: flex;
  gap: 30px;
  font-family: lato;
  font-size: 14px;
  color: #ffff;
  align-items: center;
}

.navbar-header a {
  height: max-content;
  cursor: pointer;
}

.register-btn {
  background-color: transparent;
  font-family: lato;
  padding: 1px, 1px, 1px, 1px;
  border-radius: 8px;
  border-color: #ffff;
  color: #ffff;
  padding: 10px 40px;
  display: inline;
  cursor: pointer;
}

.blue-section {
  background: linear-gradient(to bottom right, #1e52b4, #002777);
  width: 100%;
  height: 450px;
}

.div-section {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  margin-top: 37px;
}

.text-hospedagens {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-hospedagens h1 {
  font-family: latoBold;
  color: #fff;
}

.text-hospedagens p {
  font-family: lato;
  color: #fff;
}

.mapa-div img {
  height: 100%;
}

.mapa-div {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  height: 100%;
  align-self: flex-end;
}

.findHotel {
  display: flex;
  background-color: #fff;
  width: 945px;
  height: 80px;
  border-radius: 8px;
  position: absolute;
  top: 405px;
  left: 288px;
  box-shadow: 4px 4px 10px 5px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: lato;
}

.btn-findHotel {
  height: 45px;
  width: 150px;
  background-color: #009c3b;
  border-color: transparent;
  border-radius: 8px;
  font-family: lato;
  color: #fff;
  cursor: pointer;
  margin-left: 30px;
}

.findHotel .findHotel-items {
  display: flex;
  width: 235px;
  height: 40px;
  gap: 10px;
  border-right: 2px #000 dashed;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.travel-section {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
  margin-top: 72px;
}

.travel-cards {
  display: flex;
  flex-direction: column;
}

.travel-img {
  width: 100%px;
  height: 175px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.travel-h1 {
  color: #000;
  font-size: 22px;
  font-family: lato;
}

.state-p {
  display: flex;
  position: relative;
  color: #ffdf00;
  font-size: 22px;
  font-family: oswald;
  left: 290px;
  top: -30px;
  width: 0%;
}

.state-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-p {
  width: 100%;
  font-family: lato;
  color: #33303e;
}

.travels-article {
  display: flex;
  gap: 30px;
}

.travel-cards {
  display: flex;
}

#final-container {
  display: flex;
  margin: 0 5%;
  flex-direction: column;
  margin-top: 200px;
}

#final-titulo {
  margin-bottom: 7%;
  font-size: 40px;
  font-family: "Lato", sans-serif;
}

#final-texto {
  font-size: 25px;
  margin-bottom: 15%;
  font-family: "Lato", sans-serif;
}

#final-span-hoteis {
  color: rgb(0, 0, 162);
}

#final-span-promocoes {
  color: rgb(0, 155, 0);
}

#final-span-naoPercaTempo {
  color: rgb(0, 155, 0);
}

#final-span-melhor {
  color: rgb(221, 221, 3);
}

#final-logo {
  position: absolute;
  left: 60%;
  top: 195%;
  height: 45%;
  width: 35%;
}

#footer-container {
  background-color: #009c3b;
  height: 10rem;
}

#footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Lato", sans-serif;
  color: #fff;
}

#footer-titulo {
  margin-top: 2%;
}

#footer-final {
  background-color: #ffdf00;
  margin-top: 2%;
  height: 4rem;
}

#footer-bubbles-left {
  height: 20%;
  width: 20%;
  position: absolute;
}

#footer-bubbles-right {
  height: 20%;
  width: 20%;
  margin-left: 80%;
  position: absolute;
  transform: scalex(-1);
}

#footer-final-logo {
  margin-left: 45%;
  margin-top: 1.5%;
  height: 40%;
  width: 10%;
}
